@model System.Web.Mvc.HandleErrorInfo

<script>
  function goBack() {
    window.history.back();
  }
</script>
<h4></h4>
<h4></h4>
<p></p>
<button onclick="goBack()">返回上一頁</button>

@{ ViewBag.Title = "錯誤"; }

<div class="container bg-white text-danger p-5 border">
    <h2 class="text-danger font-weight-bolder text-center mb-4">錯誤，處理您的要求時發生錯誤。</h2>
    <div class="text-dark">
        <h3>@Model.Exception.Message</h3>

        <div>Http Status Code：@this.Response.StatusCode</div>

        <div>Session：@this.Session.SessionID</div>

        <div>Server Name：@this.Server.MachineName</div>

        <div>User Information：@this.User.Identity.Name</div>

        <div>URL：@this.Request.Url</div>

        <div class="bg-secondary p-2 mt-2 text-white">
            錯誤處理：請將本畫面截圖，提供開發人員參考。
        </div>
    </div>
</div>