/*凍結表頭/行頭*/
/*sticky會跟著上一層的overfloat跑！！因此要定義一個外框*/
.table-sticky-wrapper {
    width: 100%;
    height: 120vh; /*外框的高度*/
    overflow: auto;
}

table.table-sticky {
    table-layout: fixed;
    min-width: 100%;
    width: auto;
    overflow: unset !important
}

.table-sticky th {
    position: sticky;
    word-break: keep-all;
    background: #fff
}

.table-sticky td {
    border-right: 1px solid #ddd;
    text-align: right
}

.table-sticky thead tr th:first-of-type {
    left: 0; /*sticky要用 上下左右定位*/
    z-index: 3;
    border-right: 0;
    box-shadow: -2px -2px 0 inset #ddd
}

.table-sticky thead tr th {
    top: 0; /*sticky要用 上下左右定位*/
    background: #f7f7f7;
    vertical-align: top;
    border-bottom: 0;
    border-right: 1px solid #ddd;
    box-shadow: 0 -2px 0 inset #ddd;
    z-index: 2;    
}
/*sticky要用 上下左右定位*/
.table-sticky tbody th {
    left: 0; /*定位用*/
    z-index: 2; /*遮蓋表格內容的圖層層級設定*/
    box-shadow: -2px 0 0 inset #ddd; /*內框線*/
}

.table-sticky .card-header {
    background: #f7f7f7
}

.table-sticky td a {
    float: left
}


/*讓左邊第一直欄的寬度 手機尺寸時不要過寬遮蔽資訊*/
table {
    border-collapse: collapse;
    width: 100%;    
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

th {
    background-color: #ddd;
}

.empty-row {
    background-color: #E8FFE8;
}

@media print {
    table, th, td {
        border: 1px solid black;
    }
}