<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>eStoreHouse</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="E_StoreHouseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=E_StoreHouse;User ID=sa;Password=A12345678" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebStoreHouse.Models.E_StoreHouseEntities, WebStoreHouse" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StoreHouseStock" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.120;Initial Catalog=E_StoreHouse;User ID=stock_web;Password=A12345678;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StoreHouseStock_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.120;initial catalog=E_StoreHouse;User ID=stock_web;Password=A12345678;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StoreHouseStock-Web.config Connection String" />
    <MSDeployParameterValue Include="E_StoreHouseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.E_StoreHouse.csdl|res://*/Models.E_StoreHouse.ssdl|res://*/Models.E_StoreHouse.msl;provider=System.Data.SqlClient;provider connection string="Data Source=localhost;Initial Catalog=E_StoreHouse;User ID=sa;Password=A12345678"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>